.revenue-card{
    height: 20vh;
    width: 40vh;
    border-radius: 0.25rem;
    background-color: rgba(229, 228, 228, 0.659);
    padding: 0.55rem 0.55rem;
}

.revenue-card h3{
    color: black;
    font-weight: 500;
    font-size: 21px;
}

.revenue-card h4{
    color: rgb(132, 132, 240);
    font-size: 28px;
  
}